@font-face {
    font-family: 'Urbanist';
    src: url('Urbanist-BoldItalic.woff2') format('woff2'),
        url('Urbanist-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: block;
}
@font-face {
    font-family: 'Urbanist';
    src: url('Urbanist-SemiBoldItalic.woff2') format('woff2'),
        url('Urbanist-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: block;
}
@font-face {
    font-family: 'Urbanist';
    src: url('Urbanist-Medium.woff2') format('woff2'),
        url('Urbanist-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Urbanist';
    src: url('Urbanist-MediumItalic.woff2') format('woff2'),
        url('Urbanist-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: block;
}
@font-face {
    font-family: 'Urbanist';
    src: url('Urbanist-SemiBold.woff2') format('woff2'),
        url('Urbanist-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Urbanist';
    src: url('Urbanist-Italic.woff2') format('woff2'),
        url('Urbanist-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}
@font-face {
    font-family: 'Urbanist';
    src: url('Urbanist-Regular.woff2') format('woff2'),
        url('Urbanist-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Urbanist';
    src: url('Urbanist-LightItalic.woff2') format('woff2'),
        url('Urbanist-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: block;
}
@font-face {
    font-family: 'Urbanist';
    src: url('Urbanist-Light.woff2') format('woff2'),
        url('Urbanist-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Urbanist';
    src: url('Urbanist-Bold.woff2') format('woff2'),
        url('Urbanist-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}
