{% extends "base.html" %}

{% load static %}

{% block content %}
    <section class="wrapper bg-gradient-primary">
      <div class="container py-14 pt-md-15 pb-md-18">
        <div class="row text-center">
          <div class="col-lg-9 col-xxl-7 mx-auto" data-cues="zoomIn" data-group="welcome" data-interval="-200">
            <h2 class="display-2 mb-4">More productive meetings.</h2>
            <p class="lead fs-24 lh-sm px-md-5 px-xl-15 px-xxl-10 mb-7">Tired of
            meetings that go on forever, with no focus, organization, or agenda?</p>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
        <div class="d-flex justify-content-center" data-cues="slideInDown" data-group="join" data-delay="900">
          <span><a class="btn btn-lg btn-primary rounded-pill mx-1">Run a better meeting</a></span>
          <span><a class="btn btn-lg btn-outline-primary rounded-pill mx-1">Sign up</a></span>
        </div>
        <!-- /div -->
        <div class="row mt-12" data-cue="fadeIn" data-delay="1600">
          <div class="col-lg-8 mx-auto">
            <figure><img class="img-fluid" src="{% static "img/illustrations/i12.png" %}" srcset="{% static "img/illustrations/i12@2x.png" %} 2x" alt=""></figure>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container">
        <div class="row gx-lg-0 gy-10 mb-15 mb-md-18 align-items-center">
          <div class="col-lg-6">
            <div class="row g-6 text-center">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-lg-12">
                    <figure class="rounded mb-6"><img src="{% static "img/photos/se1.jpg" %}" srcset="{% static "img/photos/se1@2x.jpg" %} 2x" alt=""></figure>
                  </div>
                  <!-- /column -->
                  <div class="col-lg-12">
                    <div class="card shadow-lg">
                      <div class="card-body">
                        <div class="icon btn btn-circle btn-lg btn-soft-purple disabled mb-3"> <i class="uil uil-monitor"></i> </div>
                        <h4>Web Design</h4>
                        <p class="mb-2">Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida.</p>
                        <a href="#" class="more hover link-purple">Learn More</a>
                      </div>
                      <!--/.card-body -->
                    </div>
                    <!--/.card -->
                  </div>
                  <!-- /column -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /column -->
              <div class="col-md-6">
                <div class="row">
                  <div class="col-lg-12 order-md-2">
                    <figure class="rounded mb-6 mb-md-0"><img src="{% static "img/photos/se2.jpg" %}" srcset="{% static "img/photos/se2@2x.jpg" %} 2x" alt=""></figure>
                  </div>
                  <!-- /column -->
                  <div class="col-lg-12">
                    <div class="card shadow-lg mb-md-6 mt-lg-6">
                      <div class="card-body">
                        <div class="icon btn btn-circle btn-lg btn-soft-purple disabled mb-3"> <i class="uil uil-mobile-android"></i> </div>
                        <h4>Mobile Design</h4>
                        <p class="mb-2">Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida.</p>
                        <a href="#" class="more hover link-purple">Learn More</a>
                      </div>
                      <!--/.card-body -->
                    </div>
                    <!--/.card -->
                  </div>
                  <!-- /column -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /column -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /column -->
          <div class="col-lg-5 offset-lg-1">
            <h2 class="display-4 mb-3">What We Do?</h2>
            <p class="lead fs-lg lh-sm">The full service we are offering is specifically designed to meet your business needs.</p>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis elit interdum. Duis mollis, est non commodo luctus, nisi erat ligula. </p>
            <a href="#" class="btn btn-primary rounded-pill mt-3">More Details</a>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container pb-8 pb-lg-10">
        <div class="row gx-lg-8 gx-xl-12 gy-10 mb-15 mb-md-18 align-items-center">
          <div class="col-lg-7">
            <figure><img class="w-auto" src="{% static "img/illustrations/i9.png" %}" srcset="{% static "img/illustrations/i9@2x.png" %} 2x" alt="" /></figure>
          </div>
          <!--/column -->
          <div class="col-lg-5">
            <h3 class="display-4 mb-3">Have Perfect Control</h3>
            <p class="lead fs-lg lh-sm">We are focused on establishing long-term relationships with customers.</p>
            <p class="mb-6">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
            <div class="row gy-3">
              <div class="col-xl-6">
                <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
                  <li><span><i class="uil uil-check"></i></span><span>Aenean quam ornare. Curabitur blandit.</span></li>
                  <li class="mt-3"><span><i class="uil uil-check"></i></span><span>Nullam quis risus eget urna mollis ornare.</span></li>
                </ul>
              </div>
              <!--/column -->
              <div class="col-xl-6">
                <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
                  <li><span><i class="uil uil-check"></i></span><span>Etiam porta euismod malesuada mollis.</span></li>
                  <li class="mt-3"><span><i class="uil uil-check"></i></span><span>Vivamus sagittis lacus vel augue rutrum.</span></li>
                </ul>
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
        <div class="row gx-lg-8 gx-xl-12 gy-10 mb-15 mb-md-18">
          <div class="col-lg-7 order-lg-2">
            <figure><img class="w-auto" src="{% static "img/illustrations/i17.png" %}" srcset="{% static "img/illustrations/i17@2x.png" %} 2x" alt="" /></figure>
          </div>
          <!--/column -->
          <div class="col-lg-5">
            <h3 class="display-4 mt-xxl-8 mb-3">Why Choose Us?</h3>
            <p class="lead fs-lg lh-sm mb-6">Find out everything you need to know about creating a business process model.</p>
            <div class="accordion accordion-wrapper" id="accordionExample">
              <div class="card plain accordion-item">
                <div class="card-header" id="headingOne">
                  <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Professional Design </button>
                </div>
                <!--/.card-header -->
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="card-body">
                    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel.</p>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.accordion-collapse -->
              </div>
              <!--/.accordion-item -->
              <div class="card plain accordion-item">
                <div class="card-header" id="headingTwo">
                  <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Top-Notch Support </button>
                </div>
                <!--/.card-header -->
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="card-body">
                    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel.</p>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.accordion-collapse -->
              </div>
              <!--/.accordion-item -->
              <div class="card plain accordion-item">
                <div class="card-header" id="headingThree">
                  <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Header and Slider Options </button>
                </div>
                <!--/.card-header -->
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="card-body">
                    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel.</p>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.accordion-collapse -->
              </div>
              <!--/.accordion-item -->
            </div>
            <!--/.accordion -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
{% endblock %}
