{% extends "base.html" %}

{% load static markdowny_tags %}

{% block content %}
<section class="wrapper bg-soft-primary">
      <div class="container pt-10 pb-12 pt-md-14 pb-md-16 text-center">
        <div class="row">
          <div class="col-md-9 col-lg-7 col-xl-6 mx-auto">
            <h1 class="display-1 mb-3">{{ meeting.title }}</h1>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>

<div class="container">
      <div class="row">
        <!-- /column -->
        <div class="col-xl-8 order-xl-2">
          <section id="snippet-1" class="wrapper pt-16">
            <div class="card">
              <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Description</th>
                      <th scope="col">Introducer</th>
                      <th scope="col">Notes</th>
                      <th scope="col">Duration</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for item in meeting.items.all %}
                    <tr>
                        <td>
                            {{ item.description|markdowny }}
                        </td>
                        <td>
                            {{ item.introducer }}
                        </td>
                        <td>
                            {{ item.notes }}
                        </td>
                        <td>
                            {{ item.planned_duration }}
                        </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!--/.card-body -->
            </div>
            <!--/.card -->
          </section>
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
{% endblock %}
